* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  background: #f2f2f2;
  font-family: helvetica, arial;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 80%;
  background: white;
  margin: 0 auto;
}
.navbar {
  background: #536dfe;
  height: 60px;
  color: white;
  border-radius: 3px;
}
.navbar h3 {
  font-size: 24px;
  text-transform: uppercase;
  float: left;
  margin-left: 20px;
  line-height: 60px;
  width: 30%;
}
.navbar ul {
  list-style: none;

}
.navbar li {
  float: left;
  margin-left: 30px;
 
}
.navbar li a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
  line-height: 60px;
  
}
.navbar a:hover {

  padding: 0 px;
  color: #f1f1f1
}
.navbar form{
  
  margin: 10px;
  padding: 10px;
  line-height:60px;
 float: left;
 border:none;
 

}
